@import "tailwindcss";

@layer theme {
  :root {
    --color-background: #080904;
    --color-foreground: #FFFFFF;
    --color-primary: #E5FE88;
    --color-secondary: #252324;
    --color-accent: #3B393A;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-plak), sans-serif;
}
